<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513214156599-baiu9kr9vhk8hg9rvtk6sepbp8mq9aso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513214156599-baiu9kr9vhk8hg9rvtk6sepbp8mq9aso</string>
	<key>API_KEY</key>
	<string>AIzaSyA_Ctjl7Z57mXiCxXMkRuPDa2dBi4AJZbY</string>
	<key>GCM_SENDER_ID</key>
	<string>513214156599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.VyperX-Messenger</string>
	<key>PROJECT_ID</key>
	<string>vyperx-messenger</string>
	<key>STORAGE_BUCKET</key>
	<string>vyperx-messenger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513214156599:ios:754020e42378370de954b2</string>
</dict>
</plist>